<div class="blog-post" style="background:#e6f7ff; padding:10px">
	<h2 class="blog-post-title">
		<div style="color:#0099ff;">
			{{ post.title }}
    	</div>
  	</h2>

  	<hr>
	<p class="h3">
		{{ post.body }}
	</p>

	<p class="blog-post-meta">
		<!--{{ $post->user->name }} on-->
		<i>{{ post.user.firstName }} {{ post.user.lastName }}</i>
		<br>
		<i>{{ post.updated_at | date:'MMMM dd, yyyy hh:mm a' }}</i>
	</p>
	<div class="panel-footer" style="background-color:rgb(241, 241, 241)" *ngIf="(user_id == post.user_id)">
		<div>
			<div class="row">
				<a href="#" class="col-xs-1" *ngIf="!editing && (user_id == post.user_id)" (click)="onEdit()">Edit</a>
				<a href="#" class="col-xs-1" *ngIf="!editing && (user_id == post.user_id)" (click)="onDelete()">Delete</a>
			</div>
			<div *ngIf="editing && authService.isAuth()">
				Title:
				<input type="text" [(ngModel)]="editTitle">
				<br>
				Body:
				<input type="text" [(ngModel)]="editBody">
				<br>
				<a href="#" (click)="onUpdate()">Save</a>
				<a href="#" (click)="onCancel()">Cancel</a>		
			</div>
		</div>
	</div>
	<br>
</div>