<div class="blog-post" style="background:#e6f7ff;">
	<h2 class="blog-post-title">
		<a href="/posts">
			{{ post.title }}
    	</a>
  	</h2>

  	<hr>
	<p class="blog-post-meta">
		<!--{{ $post->user->name }} on-->
		<i>{{ post.updated_at }}</i>
	</p>
	<p>
		{{ post.body }}
	</p>
	<div class="panel-footer">
		<div *ngIf="editing" [(ngModel)]="editBody">
			<input type="text">
			<a href="#" (click)="onUpdate()">Save</a>
			<a href="#" (click)="onCancel()">Cancel</a>		
		</div>
		<div *ngIf="!editing">
			<a href="#" (click)="onEdit()">Edit</a>
			<a href="#" (click)="onDelete()">Delete</a>
		</div>
	</div>
	<br>
</div>