<header>
  <nav class="navig container-fluid" style="background-color: #0099ff; ">  
    <div class="row h4" style="display:inline;">
        <div class="col-md-8 text-left">
            <!-- left -->
            <a href="#" [routerLink]= "['/']" class="h1 text-white" style="padding:10px;">iBlog</a>
            
            <a href="#" [routerLink]= "['/']" class="text-white" style="padding:10px;">
                <span class="glyphicon glyphicon-home"></span>
                Home
            </a>
            
            <a href="#" [routerLink]= "['/']" class="text-white" style="padding:10px;">
                <span class="glyphicon glyphicon-book"></span>
                Posts
            </a>

            <a href="/tasks" class="text-white" style="padding:10px;">
                <span class="glyphicon glyphicon-check"></span>
                Tasks
            </a>

            <!--@if( Auth::check() )-->
            <a href="/messages" class="text-white" style="padding:10px;">
                <span class="glyphicon glyphicon-envelope"></span>
                Messages
            </a>

            <a href="#" [routerLink]= "['/new-post']" class="text-white" style="padding:10px;">
                <span class="glyphicon glyphicon-send"></span>
                Create
            </a>
            <!--@endif-->
        </div>
        <div class="col-md-4 text-right">
            <!-- @if( Auth::check() )-->
            <a href="#" class="text-white" style="padding:10px;">
                <!--{{ Auth::user()->name}}-->
                Name
            </a>

            <!-- settings -->
            <a href="settings" class="text-white" style="padding:10px;">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <!--@endif -->

            <!--@if( ! Auth::check() )-->
            <a href="/register" class="text-white" style="padding:10px;">
                <span class="glyphicon glyphicon-log-out"></span>
                Register
            </a>

            <a href="/login" class="text-white" style="padding:10px;">
                <span class="glyphicon glyphicon-log-out"></span>
                Login
            </a>
            <!--@endif-->

            <!--@if( Auth::check() )-->
            <a href="/logout" class="text-white" style="padding:10px;">
                <span class="glyphicon glyphicon-log-out"></span>
                Logout
            </a>
            <!--@endif-->
        </div>
    </div>
  </nav>
</header>
<main>
  <div class="blog-header">
    <div class="container">
      <h1 class="blog-title">
        PAGE NAME
      </h1>
    </div>
  </div>

  <div class="container">

      <div class="row">
        <div class="col-sm-8">
          <router-outlet></router-outlet>
      </div>

        <div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
  </div>
  <div class="sidebar-module">
    <h4>Archives</h4>
  </div>
  <div class="sidebar-module">
    <h4>Tags</h4>
  </div>
  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled">
      <li><a href="https://github.com">GitHub</a></li>
      <li><a href="https://twitter.com">Twitter</a></li>
      <li><a href="https://facebook.com">Facebook</a></li>
    </ol>
  </div>
</div>

      </div>

    </div>
</main>
    <footer class="blog-footer text-center">
      <p>Blog template built for <a href="https://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>


    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </footer>