<header>
  <app-nav></app-nav>
</header>
<main>
  <br>
  <br>
  <br>
  <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <router-outlet></router-outlet>
      </div>

        <div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>iBlog teams up with Apple to give you a better and easier blogging experience. Enjoy! :)</p>
  </div>
  <div class="sidebar-module">
    <h4>Archives</h4>
  </div>
  <div class="sidebar-module">
    <h4>Tags</h4>
  </div>
  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled">
      <li><a href="https://github.com">GitHub</a></li>
      <li><a href="https://twitter.com">Twitter</a></li>
      <li><a href="https://facebook.com">Facebook</a></li>
    </ol>
  </div>
</div>

      </div>

    </div>
</main>
    <footer class="blog-footer text-center">
      <p>Blog template built for <a href="https://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>


    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </footer>